In [1]:
import pandas as pd 
import numpy as np
import os 
import random
import gzip
import gc
from datetime import datetime
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

def seed_everything(seed = 21):
    random.seed(seed)
    np.random.seed(seed)
    os.environ["PYTHONHASHSEED"] = str(seed)
    
seed_everything()

In [2]:
d_labitems_csv = gzip.open("D:/kwangwoon/2023_2학기/데이터애널리틱스/team_project/mimic/d_labitems.csv.gz")
d_labitems = pd.read_csv(d_labitems_csv)

del d_labitems_csv 
gc.collect()

0

In [4]:
df = pd.read_csv("D:/kwangwoon/2023_2학기/데이터애널리틱스/team_project/mimic/labevents.csv.gz", nrows=1e7)

df = pd.merge(df, d_labitems[['itemid', 'label']], on=['itemid'], how='left')

df_pivot = df.groupby(['hadm_id', 'label'])['valuenum'].mean()
df_pivot = pd.DataFrame(df_pivot).reset_index()
df_pivot = df_pivot.pivot(index='hadm_id', columns='label', values='valuenum').reset_index()

df_pivot

label,hadm_id,24 hr Creatinine,24 hr Protein,25-OH Vitamin D,<Albumin>,ARCH-1,Absolute Basophil Count,Absolute CD3 Count,Absolute CD4 Count,Absolute CD8 Count,...,dRVVT - Confirmation,dRVVT - Normalized Ratio,dRVVT - Screen,eAG,pCO2,pH,pO2,"proBNP, Pleural",tacroFK,wbcp
0,20000147.0,NaN,NaN,NaN,NaN,NaN,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,39.625,7.173333,212.25,NaN,NaN,NaN
1,20000188.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20000293.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20000600.0,NaN,NaN,NaN,NaN,NaN,0.06,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.500000,NaN,NaN,NaN,NaN
4,20001004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44033,29999050.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN,NaN
44034,29999077.0,NaN,NaN,NaN,NaN,NaN,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44035,29999186.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44036,29999267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44037,29999723.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_merge = pd.read_csv("D:/kwangwoon/2023_2학기/데이터애널리틱스/team_project/merged_expire_flag_cat_hadm.csv")

In [6]:
merged = pd.merge(df_merge, df_pivot, on='hadm_id', how='inner')

In [7]:
merged

,hadm_id,admission_type,admission_location,insurance,marital_status,ethnicity,hospital_expire_flag,gender,anchor_age,anchor_year,...,dRVVT - Confirmation,dRVVT - Normalized Ratio,dRVVT - Screen,eAG,pCO2,pH,pO2,"proBNP, Pleural",tacroFK,wbcp
0,24067979,EW EMER.,EMERGENCY ROOM,Other,MARRIED,ASIAN,0,F,33,2118,...,NaN,NaN,NaN,NaN,NaN,6.5,NaN,NaN,NaN,NaN
1,24067979,EW EMER.,EMERGENCY ROOM,Other,MARRIED,ASIAN,0,F,33,2118,...,NaN,NaN,NaN,NaN,NaN,6.5,NaN,NaN,NaN,NaN
2,24067979,EW EMER.,EMERGENCY ROOM,Other,MARRIED,ASIAN,0,F,33,2118,...,NaN,NaN,NaN,NaN,NaN,6.5,NaN,NaN,NaN,NaN
3,25526298,EW EMER.,EMERGENCY ROOM,Medicaid,MARRIED,HISPANIC/LATINO,0,F,78,2151,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25526298,EW EMER.,EMERGENCY ROOM,Medicaid,MARRIED,HISPANIC/LATINO,0,F,78,2151,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,23783977,EW EMER.,TRANSFER FROM HOSPITAL,Other,SINGLE,WHITE,0,M,36,2168,...,NaN,NaN,NaN,NaN,43.666667,7.4,134.0,NaN,NaN,NaN
113933,23783977,EW EMER.,TRANSFER FROM HOSPITAL,Other,SINGLE,WHITE,0,M,36,2168,...,NaN,NaN,NaN,NaN,43.666667,7.4,134.0,NaN,NaN,NaN
113934,23783977,EW EMER.,TRANSFER FROM HOSPITAL,Other,SINGLE,WHITE,0,M,36,2168,...,NaN,NaN,NaN,NaN,43.666667,7.4,134.0,NaN,NaN,NaN
113935,27330311,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Other,MARRIED,BLACK/AFRICAN AMERICAN,0,F,53,2174,...,NaN,NaN,NaN,NaN,NaN,7.5,NaN,NaN,NaN,NaN
113936,27330311,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,Other,MARRIED,BLACK/AFRICAN AMERICAN,0,F,53,2174,...,NaN,NaN,NaN,NaN,NaN,7.5,NaN,NaN,NaN,NaN

In [8]:
object_columns = merged.select_dtypes(include='object').columns

In [9]:
object_columns

Index(['admission_type', 'admission_location', 'insurance', 'marital_status',
       'ethnicity', 'gender', 'anchor_year_group', 'eventtype', 'drg_type'],
      dtype='object')

In [10]:
merged = merged.drop(["insurance", "marital_status", "ethnicity", "anchor_year", "anchor_year_group", "drg_code", "drg_type","drg_mortality"], axis=1)

In [11]:
num_col = ["los", "admission_los", "trans_los", "edr_los"]

In [12]:
merged[num_col] = np.sqrt(merged[num_col])

In [13]:
merged[num_col].isnull().sum()

los               0
admission_los    18
trans_los         0
edr_los           3
dtype: int64

In [14]:
# Select categorical columns
cat_col = merged.select_dtypes(include=['object']).columns

# Use get_dummies to one-hot encode categorical variables
merged = pd.get_dummies(merged, columns=cat_col)

In [17]:
merged

,hadm_id,hospital_expire_flag,anchor_age,los,drg_severity,admission_los,trans_los,edr_los,24 hr Creatinine,24 hr Protein,...,admission_location_PROCEDURE SITE,admission_location_TRANSFER FROM HOSPITAL,admission_location_TRANSFER FROM SKILLED NURSING FACILITY,admission_location_WALK-IN/SELF REFERRAL,gender_F,gender_M,eventtype_ED,eventtype_admit,eventtype_discharge,eventtype_transfer
0,24067979,0,33,0.000000,2.0,1.274755,0.000000,0.420813,NaN,NaN,...,0,0,0,0,1,0,0,0,1,0
1,24067979,0,33,0.000000,2.0,1.274755,0.420813,0.420813,NaN,NaN,...,0,0,0,0,1,0,1,0,0,0
2,24067979,0,33,0.000000,2.0,1.274755,1.256746,0.420813,NaN,NaN,...,0,0,0,0,1,0,0,1,0,0
3,25526298,0,78,0.000000,2.0,0.983898,0.000000,0.368932,NaN,NaN,...,0,0,0,0,1,0,0,0,1,0
4,25526298,0,78,0.000000,2.0,0.983898,0.368932,0.368932,NaN,NaN,...,0,0,0,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113932,23783977,0,36,1.574397,4.0,2.082166,1.558278,0.410792,NaN,NaN,...,0,1,0,0,0,1,0,0,0,1
113933,23783977,0,36,1.574397,4.0,2.082166,1.363041,0.410792,NaN,NaN,...,0,1,0,0,0,1,0,0,0,1
113934,23783977,0,36,1.574397,4.0,2.082166,0.195434,0.410792,NaN,NaN,...,0,1,0,0,0,1,1,0,0,0
113935,27330311,0,53,0.000000,1.0,1.453683,0.000000,0.000000,NaN,NaN,...,0,0,0,0,1,0,0,0,1,0
113936,27330311,0,53,0.000000,1.0,1.453683,1.403612,0.000000,NaN,NaN,...,0,0,0,0,1,0,0,0,0,1

In [ ]:
# 용량 줄이기 위해 결측 안 채운 데이터프레임을 csv파일로 저장
merged.to_csv('./merged_null.csv', index=False)

In [ ]:
merged[num_col] = merged[num_col].fillna(0)

In [ ]:
merged = merged.fillna(0)

In [ ]:
# 결측 채운 데이터프레임을 csv파일로 저장
merged.to_csv('./merged.csv', index=False)